{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
  <hr>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Road Map To Health</h1>
		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
	</div>
<div class="row">
	<div class="col-md-3">
            <div class="row">
                <div class="col-md-6"><p class="lead">Organ Systems</p></div>
                <div class="col-md-6 text-center"><a href="{{url_for('newOrganSystem')}}">
                    <button  class="btn-main btn-xs btn-default" id="new-restaruant" role="button"> <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>Add Organ System</button>
                </a></div>
             </br>
		        </div>
            <div class="list-group">
                {% for i in organ %}
										<a href="{{url_for('showMedicine', organ_id=i.id ,items=items)}}" class="list-group-item">{{i.name}}</a>
                {% endfor %}
            </div>
  </div>
	<div class="col-md-9">
      <div class="jumbotron">
          <div class="row">
           <h1>Latest Items</h1>
					 <hr>
					</div>
					{% for i in items %}
					<div class="row is-flex">
											 <div class="col-sm-4 col-lg-4 col-md-4">
													 <div class="thumbnail">
															 <h4 class="text-center">{{i.name}}</h4>
															 <div class="text-center">
								                                <p><a class="btn btn-xs btn-default"  href="{{url_for('showSpecificMedicine', organ_name=i.organ.name, medicine_name=i.name)}}" role="button">View details &raquo;</a></p>
								               </div>
															 					<!-- TODO Trigger the modal with a button -->
													</div>

											 </div>
          </div>
					{% endfor %}

			</div>
	</div>

</div>

{% endblock %}
