{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
    <hr>
    <hr>
    <h1>Peptide Therapy</h1>
    </div>
  </div>
  <div class="row">
  <div class="col-md-6">
    <div class="pull-left"> <img class="img-responsive img-rounded" src="https://antiaging-systems.com/media/fig-4-role-of-peptides.jpg" alt="antiaging-systems.com" >
    </div>
  </div>
    <div class="col-md-6">
   <div class="pull-left"><a href="https://www.antiaging-systems.com/articles/323-the-new-russian-peptide-revolution">The New Russian Peptide Revolution</a> </div>
  </div>
  </div>
 </div>


</div>

{% endblock %}
